/* myStyle.css */

.navbar{
  position:fixed;
  width:100%;
  z-index: 1000000;
  top:0;
}

  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #e48e1d;
  }
  
.container1 {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
  }
  
.container2 {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-around;
    text-align: center;
  }

.poo {
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

.site-title {
    padding-top: 90px;
  }

video {
    height: 100%;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
  }
  
body{margin: 0;padding 0}

.header {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 60px;
  }

.paragraph {
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 20px;
    width: 450px;
    line-height: 20px;
    margin: auto
    
  }
  #turd {
      background: white;
  }

  .items{
    text-align:center;
    margin: 0px auto;}
    
    
    .items figure{
    margin: 5px 0px;
    display:inline-block;
    text-decoration:none;
    font-family: Helvetica;
    color:black;
    }
